<%- include('partials/header'); -%>

<header>
      <div class="food2">
    <img src="/food2.png" alt="">
    </div>
    <div class="food3">
    <img src="/food3.png" alt="">
  </div>
  <div class="headings">
    <h2>Food Recipies</h2>
    <h3>learn how the majic is made</h3>
    <a href="/fodies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>